In [1]:
import dask.dataframe as dd
import datetime
from collections import defaultdict
import numpy as np
import time

In [2]:
df = dd.read_csv('Pivoted.csv')
df.head()

   Unnamed: 0                 new    u       v  Family  Category  Brand  Name
0           1  2016-01-011011.334  1.0  1945.0      21       132    142   277
1           2   2016-01-011030.69  1.0   675.0      21       110    143   282
2           3   2016-01-011030.69  1.0   675.0      21       110    143   282
3           4   2016-01-011045.52  1.0  3249.0      21        35    145   288
4           5   2016-01-011045.52  1.0  3249.0      21        35    145   288

In [3]:
df = df.drop(columns = 'Unnamed: 0')

In [5]:
df.head()

                  new    u       v  Family  Category  Brand  Name
0  2016-01-011011.334  1.0  1945.0      21       132    142   277
1   2016-01-011030.69  1.0   675.0      21       110    143   282
2   2016-01-011030.69  1.0   675.0      21       110    143   282
3   2016-01-011045.52  1.0  3249.0      21        35    145   288
4   2016-01-011045.52  1.0  3249.0      21        35    145   288

In [8]:
#combination of date, store and sku
df['new'] = df['new'].astype(str)

In [4]:
%%time
df_2016 = df[df['new'].str.contains("2016-")]
df_2017 = df[df['new'].str.contains("2017-")]
df_2018 = df[df['new'].str.contains("2018-")]
df_2019 = df[df['new'].str.contains("2019-")]

Wall time: 6.57 ms

In [12]:
df_2016.head()

                  new    u       v  Family  Category  Brand  Name
0  2016-01-011011.334  1.0  1945.0      21       132    142   277
1   2016-01-011030.69  1.0   675.0      21       110    143   282
2   2016-01-011030.69  1.0   675.0      21       110    143   282
3   2016-01-011045.52  1.0  3249.0      21        35    145   288
4   2016-01-011045.52  1.0  3249.0      21        35    145   288

In [14]:
%%time 
df_2017 = df_2017.drop_duplicates().compute()

Wall time: 5min 1s

In [16]:
%%time 
df_2018 = df_2018.drop_duplicates().compute()

Wall time: 4min 51s

In [21]:
df = df_2016.append(df_2017, ignore_index = True)

In [22]:
df = df.append(df_2018, ignore_index = True)

In [28]:
df.to_csv('161718_dropped.csv',index=False)

In [7]:
df_2019 = df_2019.compute()

In [10]:
df_2019.drop_duplicates(inplace = True)

In [12]:
df_2019.to_csv("19_dropped.csv", index=False)