In [1]:
import dask.dataframe as dd
import datetime
from collections import defaultdict
import numpy as np
import time
import pandas as pd

In [4]:
%%time
df = pd.read_csv('df_total.csv')

Wall time: 1min 56s

In [7]:
df['year'] = df['week'].str[:4]

In [8]:
df

,u,v,Family,Category,Brand,Name,week,sku,store,year
0,1.0,1945.0,21,132,142,277,2016-01-01,1011,334,2016
1,1.0,675.0,21,110,143,282,2016-01-01,1030,69,2016
2,1.0,3249.0,21,35,145,288,2016-01-01,1045,52,2016
3,1.0,1040.0,21,127,147,294,2016-01-01,1052,4,2016
4,1.0,1640.0,21,127,147,296,2016-01-01,1053,77,2016
...,...,...,...,...,...,...,...,...,...,...
91160924,1.0,1740.0,21,134,141,270,2019-11-01,958,314,2019
91160925,1.0,1845.0,21,132,141,270,2019-11-01,961,393,2019
91160926,1.0,2099.0,21,132,141,270,2019-11-01,961,62,2019
91160927,1.0,1346.0,21,110,141,274,2019-11-01,990,209,2019
91160928,1.0,350.0,21,110,141,274,2019-11-01,991,172,2019

In [9]:
df_dict = df[['Family','Category','Brand','Name','sku']].drop_duplicates()

In [11]:
years = [2016,2017,2018,2019]

for i in years:
    df_i = i +1

In [15]:
#df_2016 = df[df['year']=="2016"]
df_2017 = df[df['year']=="2017"]
df_2018 = df[df['year']=="2018"]
df_2019 = df[df['year']=="2019"]

In [16]:
df_dict.to_csv("dict.csv", index = False)

In [17]:
df_2016.to_csv("2016.csv", index = False)

In [18]:
%%time
df_2017.to_csv("2017.csv", index = False)

Wall time: 1min 59s

In [19]:
df_2018.to_csv("2018.csv", index = False)

In [20]:
df_2019.to_csv("2019.csv", index = False)