# Imports

In [1]:
import pandas as pd
import time

# Dividing big dataset into smaller ones using chunks

In [ ]:
%%time
chunksize=1000000 #rows
ml=[]
for chunk in pd.read_csv('bc5.csv',chunksize=chunksize):
    ml.append(chunk)

In [ ]:
len(ml) #length of dfs

In [ ]:
ml[0].info()

# Preprocessing

### Remove all unnecessary strings

In [ ]:
%%time
for chunk in ml:
    chunk['ProductFamily_ID']=chunk['ProductFamily_ID'].str.replace('Family_',' ')

In [ ]:
%%time
for chunk in ml:
    chunk['ProductCategory_ID']=chunk['ProductCategory_ID'].str.replace('Category_',' ')

In [ ]:
%%time
for chunk in ml:
    chunk['ProductBrand_ID']=chunk['ProductBrand_ID'].str.replace('ProductBrand_',' ')

In [ ]:
%%time
for chunk in ml:
    chunk['ProductName_ID']=chunk['ProductName_ID'].str.replace('ProductName_',' ')

In [ ]:
for chunk in ml:
    chunk['ProductPackSKU_ID']=chunk['ProductPackSKU_ID'].str.replace('ProductSKU_',' ')

In [ ]:
for chunk in ml:
    chunk['Point-of-Sale_ID']=chunk['Point-of-Sale_ID'].str.replace('POS_',' ')

In [ ]:
for chunk in ml:
    chunk['Measures']=chunk['Measures'].str.replace('Sell-out',' ')

# Importing new datasets

### Saving all columns to csv

### Family

In [ ]:
Family=pd.DataFrame(ml[0]['ProductFamily_ID'])

In [ ]:
%%time
for i in range(1,183):
    print(i)
    Family = pd.concat([Family,pd.DataFrame(ml[i]['ProductFamily_ID'])],ignore_index=True)

In [ ]:
%%time
Family.to_csv('Family.csv',)

### Category

In [ ]:
Category =pd.DataFrame(ml[0]['ProductCategory_ID'])

In [ ]:
%%time
for i in range(1,183):
    print(i)
    Category = pd.concat([Category,pd.DataFrame(ml[i]['ProductCategory_ID'])],ignore_index=True)

In [ ]:
%%time
Category.to_csv('Category.csv',)

### Brand

In [ ]:
Brand =pd.DataFrame(ml[0]['ProductBrand_ID'])

In [ ]:
%%time
for i in range(1,183):
    Brand = pd.concat([Brand,pd.DataFrame(ml[i]['ProductBrand_ID'])],ignore_index=True)

In [ ]:
%%time
Brand.to_csv('Brand.csv')

### Name

In [ ]:
Name =pd.DataFrame(ml[0]['ProductName_ID'])

In [ ]:
%%time
for i in range(1,183):
    print(i)
    Name = pd.concat([Name,pd.DataFrame(ml[i]['ProductName_ID'])],ignore_index=True)

In [ ]:
%%time
Name.to_csv('Name.csv')

### SKU

In [ ]:
SKU =pd.DataFrame(ml[0]['ProductPackSKU_ID'])

In [ ]:
%%time
for i in range(1,183):
    print(i)
    SKU = pd.concat([SKU,pd.DataFrame(ml[i]['ProductPackSKU_ID'])],ignore_index=True)

In [ ]:
%%time
SKU.to_csv('SKU.csv',)

### POS

In [ ]:
POS =pd.DataFrame(ml[0]['Point-of-Sale_ID'])

In [ ]:
%%time
for i in range(1,183):
    print(i)
    POS = pd.concat([POS,pd.DataFrame(ml[i]['Point-of-Sale_ID'])],ignore_index=True)

In [ ]:
%%time
POS.to_csv('POS.csv',)

### Measures

In [ ]:
Measures = pd.DataFrame(ml[0]['Measures'])

In [ ]:
%%time
for i in range(1,183):
    print(i)
    Measures = pd.concat([Measures,pd.DataFrame(ml[i]['Measures'])],ignore_index=True)

In [ ]:
%%time
Measures.to_csv('Measures.csv')

In [ ]:
%%time
Measures = pd.read_csv('Measures.csv')

In [ ]:
Measures

In [ ]:
Measures.drop('Unnamed: 0',axis=1,inplace=True)

### Replace measures strings to reduce size

In [ ]:
%%time
Measures['Measures']=Measures['Measures'].str.replace('values','v')

In [ ]:
%%time
Measures['Measures']=Measures['Measures'].str.replace('units','u')

In [ ]:
%%time
Measures.to_csv('Measures.csv')

In [ ]:
ml[1]['Measures'].value_counts()

### Date

In [ ]:
%%time
Date = pd.DataFrame()
for i in range(0,183):
    print(i)
    Date = pd.concat([Date,pd.DataFrame(ml[i]['Date'])],ignore_index=True)

### Value

In [ ]:
%%time
Value = pd.DataFrame()
for i in range(0,183):
    print(i)
    Value = pd.concat([Value,pd.DataFrame(ml[i]['Value'])],ignore_index=True)

In [ ]:
date_and_value = pd.concat([Date,Value],axis=1)

In [ ]:
%%time
date_and_value.to_csv('date_and_value.csv')

# Testing

In [ ]:
Data.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
%%time
Family = pd.read_csv('Family.csv')

In [ ]:
%%time
Category = pd.read_csv('Category.csv')

In [ ]:
%%time
Brand = pd.read_csv('Brand.csv')

In [ ]:
%%time
Name = pd.read_csv('Name.csv')

In [ ]:
%%time
POS = pd.read_csv('POS.csv')

In [ ]:
%%time
SKU = pd.read_csv('SKU.csv')

In [ ]:
%%time
Measures = pd.read_csv('Measures.csv')

In [ ]:
df = pd.read_csv('date_and_value.csv')

In [ ]:
Product =pd.concat([Family,Category,Brand,Name,SKU],axis=1)

In [ ]:
df = pd.read_csv('date_and_value.csv')

In [ ]:
data.info()

In [ ]:
Product.to_csv('Product.csv')

In [ ]:
P.rename(columns={"ProductFamily_ID": "Family", "ProductCategory_ID": "Category", "ProductBrand_ID": "Brand",'ProductName_ID':'Name','ProductPackSKU_ID':'SKU'},inplace=True)

In [ ]:
P = pd.read_csv('Product.csv')

In [ ]:
P.info()

In [ ]:
Data =pd.concat([P,POS,Measures,df],axis=1)

In [ ]:
Data.drop('Measures',axis=1,inplace=True)

In [ ]:
Data.info()

In [ ]:
%%time
Data.to_csv('Data_small.csv')

# Dividing the column measures into 2 columns

In [ ]:
%%time
Data = pd.read_csv('Data.csv')

In [ ]:
%%time
Data = pd.read_csv('Datamerge2.csv')

In [ ]:
Data.drop('Measures',axis=1,inplace=True)

In [3]:
%%time
result2 = pd.read_csv('result2.csv')

Wall time: 1min 40s

In [ ]:
%%time
chunksize=1000000 #rows
ml=[]
for chunk in pd.read_csv('Data.csv',chunksize=chunksize):
    ml.append(chunk)

In [5]:
result2

          Unnamed: 0                 new    u       v
0                  0  2016-01-011011.334  1.0  1945.0
1                  1   2016-01-011030.69  1.0   675.0
2                  2   2016-01-011045.52  1.0  3249.0
3                  3    2016-01-011052.4  1.0  1040.0
4                  4   2016-01-011053.77  1.0  1640.0
...              ...                 ...  ...     ...
91160924    91160924   2019-11-01958.314  1.0  1740.0
91160925    91160925   2019-11-01961.393  1.0  1845.0
91160926    91160926    2019-11-01961.62  1.0  2099.0
91160927    91160927   2019-11-01990.209  1.0  1346.0
91160928    91160928   2019-11-01991.172  1.0   350.0

[91160929 rows x 4 columns]

In [ ]:
measures.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
measures = pd.read_csv('Measures.csv')

In [ ]:
value = pd.read_csv('date_and_value.csv')

In [ ]:
Data = pd.concat([Data,measures,value],axis=1)

In [ ]:
Data['Measures'] = Data['Measures'].astype('category')

In [ ]:
Data.drop('Measures',axis=1,inplace=True)

In [ ]:
Data.drop('Point-of-Sale_ID',axis=1,inplace=True)

In [ ]:
Data.drop('Value',axis=1,inplace=True)

In [ ]:
for i in range(0,182):
    print(i)
    ml[i]['new']= ml[i]['Date'].astype(str)+ml[i]['SKU'].astype(str)+ml[i]['Point-of-Sale_ID'].astype(str)

In [ ]:
%%time
#short['new'] = short['Date'].astype(str)+short['SKU'].astype(str)+short['Point-of-Sale_ID'].astype(str)

In [ ]:
%%time
for i in range(0,182):
    print(i)
    ml[i]['new']= ml[i]['Date'].astype(str)+ml[i]['SKU'].astype(str)+ml[i]['Point-of-Sale_ID'].astype(str)
ml['new'] = Data['Date'].astype(str)+Data['SKU'].astype(str)+Data['Point-of-Sale_ID'].astype(str)

In [ ]:
%%time
Data['new'] = Data['Date'].astype(str)+Data['SKU'].astype(str)+'.'+Data['Point-of-Sale_ID'].astype(str)

In [ ]:
%%time
result = pd.DataFrame()
for i in range(0,182):
    print(i)
    result = pd.concat([result,pd.pivot_table(ml[i],values='Value',index='new',columns='Measures')])

In [ ]:
result2=pd.pivot_table(Data,values='Value',index='new',columns='Measures')

In [ ]:
result2=result2.reset_index()

In [ ]:
result2

In [ ]:
Data = pd.merge(result2,Data,how='left',on='new')

In [ ]:
%%time
Data.to_csv('Final.csv')

In [ ]:
Data=pd.read_csv('Data.csv')

In [ ]:
%%time
Data.drop_duplicates(inplace=True)

# CHECKING VALUES OF THE FINISHED DATASET

In [3]:
Data = pd.read_csv('df_total.csv')

In [4]:
Data.head()

     u       v  Family  Category  Brand  Name        week   sku  store
0  1.0  1945.0      21       132    142   277  2016-01-01  1011    334
1  1.0   675.0      21       110    143   282  2016-01-01  1030     69
2  1.0  3249.0      21        35    145   288  2016-01-01  1045     52
3  1.0  1040.0      21       127    147   294  2016-01-01  1052      4
4  1.0  1640.0      21       127    147   296  2016-01-01  1053     77

In [12]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91160929 entries, 0 to 91160928
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0     u       float64
 1     v       float64
 2   Family    int64
 3   Category  int64
 4   Brand     int64
 5   Name      int64
 6   week      object
 7   sku       int64
 8   store     int64
dtypes: float64(2), int64(6), object(1)
memory usage: 6.1+ GB

In [9]:
Data[Data['  v'] <=0] #transactions with value 0 or negative

            u    v  Family  Category  Brand  Name        week   sku  store
1973419   6.0  0.0      21       144   1472   454  2016-02-02  1413     33
1992642   1.0  0.0      21        59    174  1208  2016-02-02  3489    339
2078480   1.0  0.0      19       174      5    21  2016-02-03    51    409
2155580   1.0  0.0      19       174    940  1783  2016-02-04  5385    409
2156563   2.0  0.0      21       109    547  1793  2016-02-04  5414     49
...       ...  ...     ...       ...    ...   ...         ...   ...    ...
90344665  1.0  0.0      12       178    393   783  2019-10-21  2362    165
90356127  3.0  0.0      21       105    719  1213  2019-10-21  3500    351
90663219  2.0  0.0      19       174    357   737  2019-10-25  2189    348
90822683  1.0  0.0      19       174    357   737  2019-10-28  2189     29
90822684  2.0  0.0      19       174    357   737  2019-10-28  2189    348

[670 rows x 9 columns]

In [11]:
Data[Data['  u'] <=0] #transactions with units 0 or negative

Empty DataFrame
Columns: [  u,   v, Family, Category, Brand, Name, week, sku, store]
Index: []